* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

:root {
    --menu-shadow: 
        1px 1px 0px 0px black, 
        2px 2px 0px 0px black, 
        3px 3px 0px 0px black;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    position: relative;
    height: 50px;
    min-width: 250px;
    padding-bottom: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
}

.logo-text {
    position: absolute;
    font-size: 2.5em;
    left: -5px;
    bottom: 2px;
}

.logo-face {
    position: absolute;
    color: red;
    padding-bottom: 4px;
    padding-left: 1px;
}

.logo-upper {
    position: absolute;
    padding-bottom: 4px;
    padding-left: 1px;
}

.logo-middle-one {
    position: absolute;
    padding-bottom: 3px;
    padding-left: 2px;
}

.logo-middle-two {
    position: absolute;
    padding-bottom: 2px;
    padding-left: 3px;
}

.logo-lower {
    position: absolute;
    padding-bottom: 1px;
    padding-left: 4px;
}

.background-edges{
    position: fixed;
    top: 0px; left: 0px;
    width: 100vw; height: 100vh;
    background-color: lightblue;
}

.background-middle {
    position: fixed;
    width: 90%; height: 100%;
    top: 60px; left: 5%;
    background-color: white;
}

.container {
    position: relative;
    width: 90%; height: 100%;
    top: 60px;
    left: 5%;
    background-color: transparent;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    position: relative;
    font-size: 2em;
    font-weight: bold;;
    color: black;
    max-width: 1000px;
    /* min-width: 0px; min-height: 0px;
    overflow: hidden; */

    flex-shrink: 3;
}

.header {
    position: relative;
    font-size: 2em;
    font-weight: bold;;
    color: black;
    max-width: 1000px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    text-align: center;
}

.image {
    border: 1px solid black;
    box-shadow: var(--menu-shadow);
    max-width: 304px; height: auto;
    margin-bottom: 10px;
}

.social-links {
    position: relative;
    margin-top: 10px;
}

.github, .linked-in {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    box-shadow: var(--menu-shadow);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 150ms ease;
    margin-bottom: 10px;
}

.github {
    background-color: rgb(70, 70, 70);
    color: white;
}

.github:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.linked-in {
    background-color: rgb(41, 57, 157);
    color: white;
}

.linked-in:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
}