* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

:root {
    --text-color: rgb(60, 60, 60);
    --main-button-fill: rgb(255, 100, 175);
    --button-inverse-fill: rgb(255, 255, 255);
}

nav {
    position: fixed;
    /* border: 1px solid red; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    /* padding-left: 50px; */
    background-color: white;
    border-bottom: 1px solid rgb(230, 230, 230);
    /* box-shadow: 0px 0px 6px 2px rgb(200, 200, 200); */
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    min-width: 30px;
    height: 16px;
    margin-left: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 125ms ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu:hover * {
    background-color: rgb(160, 160, 160);
}

.bar {
    width: 100%;
    height: 20%;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    /* cursor: pointer; */
}

.logo {
    min-width: 250px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: .1em;
    color: var(--text-color);
    font-weight: bold;
    font-size: 40px;
    margin-left: 30px;
    padding-bottom: 6px;
}

.container {
    position: absolute;
    width: 100%; height: 100%;
    top: 60px;
    left: 0px;
    background-color: transparent;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-title {
    font-size: 5em;
    color: var(--text-color);
    /* font-weight: bold; */
}

.blurb, .interests {
    color: var(--text-color);
    margin-top: 10px;
    /* font-size: 1.25em; */
}

.interests {
    font-weight: bold;
    /* font-size: .75em; */
}

.header {
    position: relative;
    font-size: 2em;
    color: rgb(30, 30, 30);
    max-width: 1000px;
}

section {
    margin-top: 100px;
    width: 100%;
    /* text-align: center; */
    /* border: 1px solid black; */
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    min-width: 408px;
    height: auto;
    border-radius: 5px;
}

.floating-arrow-icon {
    position: relative;
    top: 100px;

    align-self: center;
}

.arrow-icon {
    position: relative;
    left: 0px;

    align-self: flex-end;
}

.arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    transform: rotate(45deg);
}

#skills {
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(220, 220, 220);
}

.icon-container {
    height: 160px;
    width: 160px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 100px;
    height: auto;
}

.contact-button {
    position: relative;
    min-height: 45px;
    min-width: 180px;
    margin-left: 20px;
    margin-right: 30px;
    border: 1px solid var(--main-button-fill);
    border-radius: 5px;

    color: var(--main-button-fill);
    letter-spacing: .1em;

    cursor: pointer;
    transition: all 100ms ease;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-button:hover {
    background-color: var(--main-button-fill);
}

.contact-button:hover * {
    color: white;
    --main-button-fill: white;
}

.contact-icon {
    height: 30px;
    width: auto;
}

.social-links-wrapper {
    /* border: 1px solid black; */
    margin-left: auto;
    padding-top: 6px;
    width: 90px;
    height: 50;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social-svg {
    width: 30px;
    height: auto;
}

.portfolio-button {
    position: relative;
    min-height: 60px;
    min-width: 248px;
    margin-top: 30px;
    border-radius: 5px;

    color: white;
    text-decoration: none;
    background-color: rgb(255, 100, 175);
    
    cursor: pointer;
    transition: all 125ms ease;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio-text {
    letter-spacing: .2em;
    font-size: 1.5em;
}

.portfolio-button:hover {
    background-color: rgb(225, 70, 145);
}

.portfolio-icon {
    height: 40px;
    width: auto;
}

#portfolio {
    display: flex;
    flex-direction: column;
}

.title {
    width: 500px;
    height: 90px;
    margin-top: 100px;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-text {
    font-size: 3em;
    color: var(--text-color);
    margin-left: 30px;
}

.portfolio-title-icon {
    height: 70px;
    width: auto;
}

.about-title-icon {
    height: 60px;
    width: auto;
}

.about-blurb {
    /* padding: 100px 200px 0px 200px; */
    max-width: 500px;
    color: var(--text-color);
}

#about {
    margin-top: 100px;
    padding: 100px 0px 100px 0px;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.project-section {
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 100px;

    display: flex;
    flex-direction: row;
}

.project-image {
    height: 300px;
    width: auto;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.project-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.project-name {
    font-size: 2em;
    color: var(--text-color);
}

.project-blurb {
    max-width: 500px;
    padding:20px 0px 20px 0px;
    text-align: justify;
    font-size: .75em;

    color: var(--text-color);
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.project-link, .repo-link {
    height: 30px;
    width: 170px;
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
    margin-left: 15px;

    background-color: var(--main-button-fill);

    text-decoration: none;
    cursor: pointer;
    transition: all 125ms ease;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.project-link:hover, .repo-link:hover {
    background-color: rgb(225, 70, 145);
}

.button-text {
    letter-spacing: .1em;
    color: rgb(255, 255, 255);
}

.repo-svg {
    width: 28px;
    height: auto;
}

.play {
    width: 20px;
    height: auto;
}
